* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #38016f;
  color: white;
}
sup {
  font-size: 15px;
}
#how {
  display: none;
  margin: 15px 10px;
  border: 2px solid yellow;
  border-radius: 4px;
  animation-name: swipeLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
@keyframes swipeLeft {
  from {
    transform: translate3D(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3D(0, 0, 0);
  }
}
#how h1 {
  margin-bottom: 10px;
  color: yellow;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
  margin-top: 10px;
}
#how p {
  font-weight: 800px;
  color: white;
  line-height: 1.5rem;
  background-color: darkblue;
  padding: 8px 5px;
}
.welcomePage {
  display: none;
  animation-name: swipeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}
@keyframes swipeIn {
  from {
    transform: translate3D(0, 100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3D(0, 0, 0);
  }
}
#displayOnLoad {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 45vh;
  color: yellow;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 2000;
  font-size: 35px;
  animation-name: typing;
  animation-duration: 3s;
}
@keyframes typing {
  from {
    color: whitesmoke;
  }
  to {
    color: yellow;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
  text-align: center;
}

.welcome input[type="text"] {
  width: 60%;
  height: 40px;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  margin: auto;
  text-align: center;
  display: flex;
  color: yellow;
  background-color: black;
  justify-content: center;
  padding: 10px;
}
.welcome #startGameBtn {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px 15px;
  width: 40%;
  margin: auto;
  text-align: center;
  cursor: pointer;
  background: royalblue;
  color: white;
  font-weight: 1000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#gameName {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  color: yellow;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 2000;
}
.welcome #startGameBtn:hover {
  background-color: darkblue;
}
.welcome h1 {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 1000;
}

.bigContainer {
  width: 100vw;
  height: 300px;
  border-radius: 500px;
  display: none;
}

#secretNumber {
  text-align: center;
}
#secretNumber button {
  font-size: 40px;
  padding: 1.5rem;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: 500px;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 10px;
  text-align: center;
}
.the-number {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  text-align: center;
}
.the-number input[type="number"] {
  width: 300px;
  height: 80px;
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  margin-top: 5px;
}
.the-number button {
  font-size: 10px;
  text-align: center;
  background-color: rgb(250, 247, 247);
  color: rgb(16, 11, 11);
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
  padding: 20px 20px;
}

#check {
  background-color: crimson;
  color: aliceblue;
}
#reset {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(207, 1, 19);
}
.playAgain{
  background-color: yellow !important;
  font-weight: bolder;
  font-size: 17px !important;
}
.guess-number {
  font-size: 20px;
  font-weight: 1000px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 10px;
  text-align: center;
  color: yellow;
}
.scores{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.scores p{
  margin: 10px;
}
#scorePoints {
  background-color: black;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
}
#highScorePoints {
  background-color: black;
  width: 50px;
  height: 50px;
  padding-top: 15px;
  text-align: center;
  font-size: 20px;
}
.remark {
  font-size: 25px;
  justify-content: center;
  margin: 20px auto;
  background-color: black;
  text-align: center;
  width: 60%;
  height: 100px;
  display: flex;
  padding-top: 22px;
}
#skip {
  font-size: 10px;
  text-align: center center;
  background-color: rgb(250, 247, 247);
  color: white;
  background-color: royalblue;
  margin: auto;
  border-radius: 10px;
  cursor: pointer;
  padding: 12px 40px;
  display: none;
  font-weight: 800;
}
footer {
  text-align: center;
  margin-top: 30vh;
  display: none;
}
footer h5 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 6px;
  color: yellow;
  font-weight: 1000;
}
